@font-face {
  font-family: "ampir_deco";
  src: url("../fonts/ampir_deco.ttf");
}

body {
  background-color: #fafafa;
}

h1, h2, h3, h4, h5{
  font-family: 'ampir_deco';
}

strong {
  font-family: 'ampir_deco';
  color: rgba(153, 17, 17, 0.918);
  font-weight: 800;
  font-size: 1.5em;  
}

.fl {
  font-family: 'ampir_deco';
  color: rgba(153, 17, 17, 0.918);
  font-weight: 800;
  font-size: 1.5em;
}

.fl-menu {
  font-family: 'ampir_deco';
  font-size: 1.2em;
}

.con-menu {
  font-size: 36px;
}

a, a:hover, a:visited {
  text-decoration: underline;
  color: inherit;
}

p, li {
  font-size: 1em;
}

header {
  position: relative;
  background-color: black;
  /* height: 63vh; */
  height: 77vh;
  /* height: 100vh; */
  min-height: 35rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    /* background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll; */
    background: url('img/fin.png') black no-repeat center center scroll;    
  }
  header video {
    display: none;
  }
}

hr.divider {
  width: 45%;
	border-top: 1px solid #ffffff;
}

.el-divider {
  margin-top: 0.9em;
  border-top: 1px solid #1d1d1d;
}

.p1 {
  /* min-height: 600px;  */
  min-height: 77vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
  background-image: url("../img/index/p1.jpg");
}

.p2 {
  min-height: 77vh;   
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
  background-image: url("../img/index/p2.jpg");
}

.p3 {
  min-height: 77vh;    
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
  background-image: url("../img/index/p3.jpg");
}

.p0-about {
  min-height: 77vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
  background-image: url("../img/about/pa0.jpg");
}

.p1-about {
  min-height: 77vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
  background-image: url("../img/about/pa1.jpg");
}

.p2-about {
  min-height: 77vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
  background-image: url("../img/about/pa2.jpg");
}

.p3-about {
  min-height: 77vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
  background-image: url("../img/about/pa3.jpg");
}

.p4-about {
  min-height: 77vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
  background-image: url("../img/about/pa4.jpg");
}

.p0-man {
  /* min-height: 600px;  */
  min-height: 77vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
  background-image: url("../img/maneuvers/m0.jpg");
}

.p1-man {
  /* min-height: 600px;  */
  min-height: 77vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
  background-image: url("../img/maneuvers/m1.jpg");
}

.p2-man {
  min-height: 77vh;   
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
  background-image: url("../img/maneuvers/m2.jpg");
}

.p3-man {
  min-height: 77vh;    
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
  background-image: url("../img/maneuvers/m3.jpg");
}







/* Navbar with sandvich button */
#navbar {
  position: fixed;
  top: -50px;
  width: 100%;
  display: block;
  transition: top 0.3s;
  color: #898989;
  left: 91%;
  z-index: 5;
}

/*#navbar a {*/
/*  float: left;*/
/*  display: block;*/
/*  color: #f2f2f2;*/
/*  text-align: center;*/
/*  padding: 15px;*/
/*  text-decoration: none;*/
/*  font-size: 17px;*/
/*}*/

/*#navbar a:hover {*/
/*  color: whitesmoke;*/
/*}*/

/* New button */
.menu-toggle {
  /*position: fixed;*/
  /*right: 15px;*/
  /*top: 15px;*/
  width: 50px;
  height: 50px;
  text-align: center;
  color: whitesmoke;
  background: rgba(52, 58, 64, 0.9);
  line-height: 50px;
  z-index: 5;
}



/* Owerlay menu */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.95;
  overflow-y: hidden;
  transition: 0.3s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 22px;
  left: 90.6%;
  font-size: 50px;
}

/*@media screen and (max-height: 450px) {*/
/*  .overlay {overflow-y: auto;}*/
/*  .overlay a {font-size: 20px}*/
/*  .overlay .closebtn {*/
/*    font-size: 40px;*/
/*    top: 15px;*/
/*    right: 35px;*/
/*  }*/
/*}*/

.menu-social-icons > a {
  display: block;
  max-width: 20%;
  margin-left: 20%;
  float: left;
}